.App {
  display: flex;
  align-content: center;
  flex-direction: column;
  text-align: center;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/012/476/185/large/rafael-de-jongh-synthwave-neon-80s-background-marmoset-revamp-compressed.jpg?1534979006");
  height: 100vh;
}

.games-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding-right: 3%; */
}
